
.App {
  text-align: center;
}

::-webkit-scrollbar{
  width:11px;
  background-color: transparent;
  overflow: overlay;
}

::-webkit-scrollbar-thumb{
  background-color: rgba(204, 204, 209, 0.829)
}



/********LOADING SPINNERS*********/
.lds-dual-ring {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: white transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* MEDIA QUERIES */

@media screen and (max-width:950px){
  .rbc-toolbar{
    flex-direction: column;
  }
  .rbc-toolbar>:first-child{
    align-self: flex-start;
    order: 3;
  }
  .rbc-toolbar>:last-child{
    align-self: flex-start;
    order:1;
  }
  .rbc-toolbar-label{
    align-self: flex-end;
    order: 2;
  }
}
@media screen and (max-width:650px){
  .rbc-toolbar{
    gap:7px;
  }
  .rbc-toolbar>:first-child{
    align-self: center;
  }
  .rbc-toolbar>:last-child{
    align-self: center;
  }
  .rbc-toolbar-label{
    align-self: center;
  }
}
@media screen and (max-width:350px){
  .rbc-btn-group{
    font-size: 2.5vw;
  }
  .rbc-toolbar-label{
    font-size: 2.5vw;
  }
  .calendar{
    padding:5px
  }
  
}

@media screen and (max-width:250px){
  .rbc-toolbar>:last-child button, .rbc-toolbar>:first-child button{
    width:auto;
    padding:4px 6px;
  }
  .rbc-toolbar>:first-child{
    display: flex;
  }
}